<%- include header%>
    <div class="page">
        <div class="page__hd">
            <h3 class="page__title" align="center">报道流程查询</h1>
        </div>
        <div class="page__bd">
            <div class="weui-cells__title">请确保所有审查状态均为已审核</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>资格审核状态</p>
                    </div>
                    <div class="weui-cell__ft">
                        <% if(obj.data.enrollcomplete=='1'){ %>
                            <font color="Green">审核通过</font>
                        <% }else{ %>
                            <font color="red">审核未通过</font>
                        <% } %>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>财务审核</p>
                    </div>
                    <div class="weui-cell__ft">
                        <% if(obj.data.financecomplete=='1'){ %>
                            <font color="Green">审核通过</font>
                        <% }else{ %>
                            <font color="red">审核未通过</font>
                        <% } %>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>教务注册</p>
                    </div>
                    <div class="weui-cell__ft">
                        <% if(obj.data.jwbcomplete=='1'){ %>
                            <font color="Green">审核通过</font>
                        <% }else{ %>
                            <font color="red">审核未通过</font>
                        <% } %>
                    </div>
                </div>           
            </div>
        </div>
        <div class="page__ft">
            <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
        </div>
    </div>
<%- include footer%>