<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>床位选择</title>
	<link rel="stylesheet" type="text/css" href="body.css">
	</head>
<body>
	<div class="cover">
            <!--<div class="row">-->
                <!--<div class="col-xs-4 col-xs-offset-4">-->
                    <form method="post">
                        <div class="putin"><!--form-group-->
                            <input type="text" class="form-control" name="Apartment" placeholder="楼号">
                        </div>

                        <div class="putin">
                            <input type="text" class="form-control" name="Floor" placeholder="楼层">
                        </div>

                        <button type="submit" class="btn">确认</button><!-- btn-default center-block-->
                    </form>
                <!--</div>-->
            <!--</div>-->		
	</div>
</body>
</html>
